.pieDePagina {
    margin-top: 0px;
}
.main-container {
    background: #f8f8f8;
    /* padding: 150px 0; */
}

.clear {
    clear: both;
}

body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
    font-family: Poppins;
}

.registration-container {
    /* width: 900px; */
    background: #fff;
    /* margin: 0 auto; */
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.registration-content {
    padding: 75px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-form, .registration-image {
    width: 50%;
    overflow: hidden;
}

.registration-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.custom-register-form {
    width: 100%;
}

.form-heading {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.form-group:last-child {
    margin-bottom: 0px;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-color: transparent;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
    outline: none;
}


input::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}

input:focus {
    border-bottom: 1px solid #222;
}

input:focus::-webkit-input-placeholder {
    color: #222;
}

input:focus::-moz-placeholder {
    color: #222;
}

input:focus:-ms-input-placeholder {
    color: #222;
}

input:focus:-moz-placeholder {
    color: #222;
}

.custom-agree-term {
    display: inline-block;
    width: auto;
}

.custom-label-agree-term {
    position: relative;
    top: 0%;
    transform: translateY(0);
    color: #222;
}

.material-icons-name {
    font-size: 18px;
}

.registration-image {
    margin-top: 45px;
}

figure {
    margin-bottom: 50px;
    text-align: center;
}

.custom-form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.custom-form-submit:hover {
    background: #4292dc;
}

.registration-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
}

.custom-term-service {
    font-size: 13px;
    color: #222;
}

.iconoUser{
    position: relative;
    top: 27px;
    left: 2px;
}

.erroresCheck{
    display: flex;
    justify-content: center;
}